
# This .gitignore is for a few files generated when running this script.

# The *.pyc files are ignored for convenience with git add.
# The *.json files are ignored for convenience with git add.
# The .*pickle files are ignored for convenience with git add.


# Untracked files: #
####################
######### where is the gitignore command to make git not add these to tracked files.  is it because the file is called .gitignore 
##### and whatever you put inside of it git ignores?
*.pyc
venv/
pickle/
data/
